
* {margin: 5; padding: 5;
   background-color: #7881d3
}

h1 {
    font-family:cursive ;
    margin: auto;
    text-align: center;
    font-size: 30px;
}
nav {
      text-align: center;
}

 .caja-uno {background: #ACD4E1;
    width: 85%;
    margin: auto;
    padding: 5%; 
    margin-top: 20px;
    border-radius: 15px; 
}

section {background-color: #ACD4E1;}

#mission, p {background-color: #ACD4E1;
text-align:right;
} 
img {float: left;
position:static ;}

#about {background-color: #ACD4E1;
   text-align: left}

   #idea {background-color: #ACD4E1;
   text-align: right}

h3 {font-size: 30px;}