
* {margin: 5; padding: 5;
   background-color: #7881d3
}

h1 {
    font-family:cursive ;
    margin: auto;
    text-align: center;
}
nav {
      text-align: center;
}

 .caja-uno {background: #ACD4E1;
    width: 85%;
    margin: auto;
    padding: 5%; 
    margin-top: 20px;
    border-radius: 15px; 
}
 
div p {background-color: #ACD4E1;}
